@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-bg-color: #3494e4;
    --cup-filled-color: #6ab3f8;
    --cups-border: #1f52c6;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-bg-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
