*{
    box-sizing: border-box;
}

body{
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty{
    height: 145px;
    width: 145px;
    margin: 10px;
    border: solid 3px solid;
    background: #fff;
}

.fill{
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold{
    border: solid 5px #ccc;
}

.hovered{
    background-color: #333;
    border-color: #fff;
    border-style: dotted;
}

@media (max-width: 768px) {
    body {
      flex-direction: column;
    }
  }