@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #222;
    font-family: 'Roboto',Sans-serif;
   padding-bottom: 50px;
}

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 13%);
    padding: 1.5rem 1rem;
}

.navbar.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active a{
    color: #000;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.navbar ul {
    display: flex;
}

.navbar ul li{
    list-style-type: none;
}

.nav-link.current{
    color: #92342a;
}

.nav-link:hover{
    color: #92342a;
    font-size: 1.2rem;
}

.hero{
    background-image: url(https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -2;
    margin-bottom: 2rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.2rem;
    z-index: -1;
}

.hero h1 {
    font-size: 3rem;
    margin: -1.2rem 0 1.2rem;
}

.hero p{
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.content h2,
.content h3{
    font-size: 150%;
    margin: 1.2rem 0;
}

.content p{
    color: #555;
    line-height: 2rem;
    letter-spacing: 1.2px;
    margin: 0 0.5rem;
}