@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --bg-color: #686de0;
  --btn-bg-color: #9f68e0;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.card{
    background-color: #fff;
    width: 70%;
    height: auto;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
}

.title{
    font-size:1.3rem ;
    color: lightslategray;
    letter-spacing: 1px;
}

.text{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    margin: 3rem;
}

.btn{
    background-color: var(--btn-bg-color);
    color: white;
    padding: 0.8rem 2rem;
    font-size: large;
    border: var(--btn-bg-color);
    border-radius: 0.4rem;
}
