@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #efedd6;
    font-family: 'Roboto',Sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1{
    margin: 0.6rem;
}

.box{
    background-color: steelblue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 15rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.5s ease;
}

/* scroll the even boxed from left */
.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 2rem;
}
