@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --body-bg-light: #e1e1e1 ;
    --body-bg-dark:#383838;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg-light);
    font-family: 'Muli', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key{
    background-color: #fff;
    padding: 1rem 2rem;
    margin: 0.5rem;
    position: relative;
    box-shadow: rgba(1, 0, 0, 0.1) 1px 4px 12px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
}

.key small{
    position: relative;
    top: -4rem;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
}